*{
    font-family:Arial, Helvetica, sans-serif; 
}
body{
    background-color:#eff0e3;
    }

#imagem{
    text-align: center;
    }

#tabelaa{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}