/* foi usado o asteristico para formatar todo o texto da página*/
*{
    font-family:Arial, Helvetica, sans-serif; 
}


/* mudei a cor de fundo da página*/
body{
    background-color:#eff0e3;
}


/*colocar a imagem no centro da página*/
#imagem{
    text-align: center;
}


/* editar o título da tabela("algo sobre mim"):letra maiuscula,negrito,texto no centro,tamanho da fonte*/
#titulotabela{
    text-transform: uppercase;
    font-size:20px;
    text-align: center;
}

/* tabela("algumas tags html")*/
caption{
    text-transform: uppercase;
    font-size:20px;
    text-align: center;
}

/*a tabela de "nome,idade,comida,séria" foi editada no html(a letra ficou maiuscula,texto em negrito e no centro,cor da fonte)*/


/* editar as tabelas colocando bordas arredondadas*/
table{
    border-radius: 10%;
}

/*FORMULÁRIOS*/

/* cor das letras A,B(o "c"é o b do formulário inativo) foi colocado a tag color no html*/
color a{
    color:#006600;
}

color b{
    color:#0000ff;
}
 color c{
    color:#ff9900;
}


/*editei os formulários(tamanho da fonte e cor)*/
#formulárioa{
    font-size: 18px;
    color:#006600;
}

#formulariob{
    font-size: 18px;
    color:#0000ff;
}

#formularioc{
    font-size: 18px;
    color:#ff9900;
} 


/*editei a imagem dos estudantes*/
figure{
    border: 1px #cccccc solid;
    width: 50%;
    padding: 4px;
    margin: auto;
}

figcaption{
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center ;
}

figure img{
    border-radius: 50%;
}


/*RODAPÉ*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

/*tem que formatar o título da página*/


table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
}
td, th {
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
}
  
tr{
    background-color red;
}
td{
    background-color: #f0f0f0;
}



