/* foi usado o asteristico para formatar todo o texto da página*/
*{
    font-family: 'Times New Roman', Times, serif; 
}


/* mudei a cor de fundo da página*/
body{
    background-color:#eff0e3;
}


/*colocar a imagem no centro da página*/
#imagem{
    text-align: center;
}


 /*editar o título da tabela("algo sobre mim"):letra maiuscula,negrito,texto no centro,tamanho da fonte*/
#titulotabela{
    text-transform: uppercase;
    font-size:20px;
    text-align: center;
    color: #800000;
}
/* tabela("algumas tags html")*/
caption{
    text-transform: uppercase;
    font-size:20px;
    text-align: center;
    color: #800000;
}

/*a tabela de "nome,idade,comida,séria" foi editada no html(a letra ficou maiuscula,texto em negrito e no centro,cor da fonte)*/

/*FORMULÁRIOS*/

/* cor das letras A,B(o "c"é o b do formulário inativo) foi colocado a tag color no html*/
color a{
    color:#006600;
}

color b{
    color:#0000ff;
}
color c{
    color:#ff9900;
}


/*editei os formulários(tamanho da fonte e cor)*/
.formularioha{
    font-size: 18px;
    color:#006600;
}
.formulariob{
    font-size: 18px;
    color:#0000ff;
}

.formularioc{
    font-size: 18px;
    color:#ff9900;
} 


/*editei a imagem dos estudantes*/
figure{
    border: 1px #cccccc solid;
    width: 50%;
    padding: 4px;
    margin: auto;
}

figcaption{
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center ;
}

figure img{
    border-radius: 50%;
}


/*RODAPÉ*/
.rodape {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: black;
    text-align: center;
    background-image: linear-gradient(rgba(247, 247, 247, 0.904), hsl(0, 100%, 20%));
}

/*tem que formatar o título da página*/
.titulodapg{
    text-align: center;
}

/*formatação das tabelas*/
table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
}
td{
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
    background-color: #f0f0f0;
    color: black;
}
  
tr{
    background-color:#f0f0f0;
}

th{
    background-color: #660000;
    text-transform: uppercase;
    color: #EFE3F0;
    height: 50px;
}

.caixatexto{
    width:220px;
    border:5px solid red;
    padding:50px;
    margin:20px;
    margin-left:790px;
}
 h2{
    text-align:center;
 }
    
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
    padding:12px
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
  }
  